.emotion-chart__title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #030319;
    margin: 0 0 16px 0;
}

.emotion-chart__content {
    display: flex;
    align-items: center;
    gap: 21px;
}

.emotion-chart__legend {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.emotion-chart__legend span {
    width: 11px;
    height: 10px;
    border-radius: 50%;
    display: block;
}

.emotion-chart__legend-item--yellow {
    background: #EFCE77;
}

.emotion-chart__legend-item--green {
    background: #A3C690;
}

.emotion-chart__legend-item--pink {
    background: #E79EA2;
}